<mat-form-field appearance="fill">
    <mat-label>FirstName</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>LastName</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>MiddleName</mat-label>
    <input matInput>
</mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput>
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Number</mat-label>
    <input matInput>
</mat-form-field>